
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --navbar1: #fffaf4; 
    --navbar2: #2e2e2e; 
    --navbar3: #3a3a3a; 
    --navbar4: #6d6d6d; 
    --navbar5: #a1a1a1; 
    --navbar6: #c0c0c0; 
}

.navbar.bg-dark {
    --bs-bg-opacity: 1;
    background-color: var(--navbar2) !important;
  }

.navbar img{
    width: 100px;
    /*margin-right: 1rem;*/
    /*padding-bottom: 1rem;*/
}

.navbar .navbar-nav{
    text-align: center;
}


.navbar.navbar-toggler{
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s;
}

#comprarTickets{
    color: rgb(3, 145, 3);
}

#comprarTickets:hover{
    color: rgb(57, 177, 57);
}

/*-----------------------------------------------------------------------*/
/* ShowCase */

.showcase{
background-image: url(../img/ba1.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
color: var(--navbar1);
}

.showcase .shadow{
    background-color: rgb(0, 0, 0, 0.5) ;
    width: 100%;
    height: 100%;
}

.showcase .container-flex{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.showcase .content{
    width: 50%;
    margin-bottom: 20vh;
    text-align: right;
}

.showcase .buttonarea{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.showcase .buttonarea a{
    color: var(--navbar1);
    text-decoration: none; 
}

.showcase .btn{
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
}

.showcase .btn-transparent{
    border: 1px solid var(--navbar1);
}

.showcase .btn-transparent:hover{
    background-color: rgb(255, 255, 255, 0.55);
    color: var(--navbar2);
    border: 1px solid  rgb(255, 255, 255, 0.55);
    transition: 0.5s;
}

.showcase .btn-solid{
    background-color: rgba(24, 145, 0, 0.55);
    border: 1px solid green;
}

.showcase .btn-solid:hover{
    background-color: green;
    color: var(--navbar1);
    border: 1px solid  green;
    transition: 0.5s;
}

/*-----------------------------------------------------------------------*/
/* Speakers */

.speakers .title{
    text-align: center;
}

.title h6{
    margin-top: 1rem;
    margin-bottom: 0;
}

.speakers .container-speakers{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.speakers .card{
    width: 30%;
    min-width: 300px;
    border-radius: 5px;
}

.speakers .card img{
    width: 100%;
    border-radius: 5px;
}

.speakers .card :not(img){
    padding: 0 1rem;

}

.card .skills{
    margin-top: 1rem;
    display: flex;
}

.card .skills h6{
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.3rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
}

.card h3{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.3rem;
}

.card p{
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.3rem;
    margin-bottom: 1rem;
}

.card .skills .yellow{
    background-color: rgb(255, 187, 0);
    border-radius: 5px;
}

.card .skills .cyan{
    background-color: rgb(0, 195, 255);
    border-radius: 5px;
}

.card .skills .grey{
    background-color: grey;
    color: white;
    border-radius: 5px;
}

.card .skills .red{
    background-color: rgb(216, 6, 6);
    color: white;
    border-radius: 5px;
}

/*-----------------------------------------------------------------------*/
/*Sobre Bs As*/

.containter-cta{
    margin-top: 1rem;
}

.containter-cta{
    display: flex;
}

.containter-cta img{
    width: 80vh;
    margin: 0;
    border-right: 0.5px solid white;
}

.containter-cta .cta-content{
    background-color: var(--navbar2);
    color: var(--navbar1);
    padding: 1rem;
}

.containter-cta .cta-content h2{
    font-weight: 600;
}

.containter-cta .btn{
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    color: var(--navbar1);
}

.containter-cta .btn-transparent{
    border: 1px solid var(--navbar1);
}    

.containter-cta .btn-transparent:hover{
    background-color:rgb(255, 255, 255, 0.55); 
    color: var(--navbar2);
    border: 1px solid rgb(255, 255, 255, 0.55);  ;
    transition: 0.5s;
}

/*-----------------------------------------------------------------------*/
/* Formulario */

.form .title{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.form .title h3{
    font-size: 1rem;
}

.form .title .underline{
    text-decoration: underline dotted var(--navbar2);
}

.form .container-form{
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form .container-form .first-last-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form .container-form .input-name{
    width: 48%;
    padding: 0.7rem 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--navbar5);
}

.form .container-form .input-name:focus{
    outline: 1px solid var(--navbar4);
}

.form .container-form .input-about{
    width: 100%;
    padding: 0.7rem 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--navbar5);
}

#recordatorio{
    font-size: small;
    color: var(--navbar4);
}

.form .container-form .input-about:focus{
    outline: 1px solid var(--navbar4);
}

.form .container-form .btn-submit{
    width: 100%;
    margin: 1rem 0;
    padding: 0.8rem 0;
    font-size: 1.5rem;
    background-color: rgb(142, 212, 62, 1); 
    color: var(--navbar1);
    font-weight: 700;
    border-radius: 10px;
    border: none;
}

.form .container-form .btn-submit:hover{
    background-color: rgb(120, 179, 54); 
    color: var(--navbar1);
    transition: 0.5s;
}

/*-----------------------------------------------------------------------*/
/* Footer */


.footer {
    background-image: linear-gradient(to right, #004d7a, #008793);
}

.footer .container-footer{
    width: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container-footer a{
    text-decoration: none;
    color: var(--navbar1);
    padding: 3rem 0;
    width: 100px;
    text-align: center;
}

.footer .container-footer a:hover{
    color: var(--navbar6);
}


/* --------------------------------------------------------------------------------------
/*Tickets*/

.link-verde-ticket{
    color: #9de853 !important; 
}

.row-group{
    align-items: center;
    padding: 0 10%;
    justify-content: space-between !important;
}

.grupo-tickets{
    margin-top: 8rem;

}

.card-tickets {
    text-align: center;
    padding: 1rem;
}

.card-tickets:hover{
    transform: scale(0.9);
    transition: 0.8s linear;
    background-color: rgb(221, 218, 218);
}

.card-tickets-estudiante{
    border: solid 1px rgb(41, 128, 234) !important;
}

.card-tickets-trainee{
    border: solid 1px rgb(17, 150, 216) !important;
}

.card-tickets-junior{
    border: solid 1px rgb(225, 192, 28) !important;
}

.formulario-tickets{
    padding-top: 5px;
    margin: 0 auto;
    width: 50%;
}

.total-pagar{
    background-color: #cee4ee !important;
}

.container-btn-tickets{
    align-items: center !important;
}

.btn-ticket{
    width: 48.3%;
    border: none !important;
    background-color: #7fc33b !important;
}

.footer-ticket{
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-ticket .footer-link{
    font-size: 15px !important;
}

/*-----------------------------------------------------------------------*/
/* Media Queries*/

/* Media Queries LG 992 */

@media(max-width: 992px){
    .showcase .content{
        width: 100%;
        margin-bottom: 20vh;
        text-align: center;
    }

    .showcase .buttonarea{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .form .container-form{
        width: 65vw;
    }
}

/* Media Queries MD 768 */
@media(max-width: 768px){
    .containter-cta{
        display: flex;
        flex-direction: column;
    }

    .containter-cta img{
        width: 100vw;
    } 

    .containter-cta .cta-content>*{
        display: block;
        text-align: center !important;
    }

    .cta-content .btn{
        width: 50%;
        margin: 0 auto;
    }

    .form .container-form .first-last-name{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .form .container-form .first-last-name .input-name{
        width: 100%;
        margin-bottom: 1rem;
    }

    .form .container-form{
        width: 80vw;
    }

    .footer{
        background-image: linear-gradient(to right, #004d7a, #008793);
    }

    .footer .container-footer{
        flex-direction: column;
        padding: 1rem 0;
    }

    .footer .container-footer a{
        padding: 0.5rem 0;
        width: 100%;
        text-align: center;
    }
}

/* Media Queries SM 576 */
@media(max-width: 576px){
    .showcase .buttonarea{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/**/